/* all app scss styles here */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

#container {
	/*height: 100%;*/
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-position: right 0px top 0px;
}

.sidenav {
	li:not(:last-child) {
		margin-bottom:10px ;
	}
	li:first-child {
		margin-top: 10px;
	}
	li {
		list-style:none;
		&:hover {
			.item-title{padding-right:2em;}
		}
		.item-title {
			color:#fff;
			background: $primary-color;
			padding: 0 1em;
			position: relative;
			top: 5em;
		}
	}
	li a #item1 {
		//background-image: url(http://placehold.it/210x100);
		background-image: url(../images/menu-general.jpg);
		width: 210px;
		height: 100px;
	}
	li a #item2 {
		//background-image: url(http://placehold.it/210x100);
		background-image: url(../images/menu-medical.jpg);
		width: 210px;
		height: 100px;
	}
	li a #item3 {
		//background-image: url(http://placehold.it/210x100);
		background-image: url(../images/menu-food.jpg);
		width: 210px;
		height: 100px;
	}
	li a #item4 {
		//background-image: url(http://placehold.it/210x100);
		background-image: url(../images/menu-humanitarian.jpg);
		width: 210px;
		height: 100px;
	}
	li a #item5 {
		//background-image: url(http://placehold.it/210x100);
		background-image: url(../images/menu-building.jpg);
		width: 210px;
		height: 100px;
	}
}

.storage-unit {
	margin-top: 4rem;
}

.revealblocks {
	div {
		display: none;
		position: relative;
		background: #fff;
	}
}

.reveal-modal {
	//margin-left: -180px;
	//left:0;
}

footer p {
	margin-right: 3em;
}