/* all app scss styles here */

//lowenco font
@font-face {
	font-family: 'lowenco';
	src:url('fonts/lowenco.eot?ly1n4d');
	src:url('fonts/lowenco.eot?#iefixly1n4d') format('embedded-opentype'),
		url('fonts/lowenco.woff?ly1n4d') format('woff'),
		url('fonts/lowenco.ttf?ly1n4d') format('truetype'),
		url('fonts/lowenco.svg?ly1n4d#lowenco') format('svg');
	font-weight: normal;
	font-style: normal;

}

[class^="lw-"], [class*=" lw-"] {
	font-family: 'lowenco';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lw-icons-selector:before {
	content: "\61";
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

$primary-color: #00468e;

nav {
	border-bottom: 1px solid;
	color: $primary-color;
}

.top-bar {
		.menu-icon {
			a { 
				color: $primary-color;
			}
		}
	.top-bar-section {

		.left {
			li {
				a {
					margin-bottom: -1px;
				}
			}
		}
		.right {
			li {
				a {
					margin-bottom: -1px;
				}
			}
			.has-dropdown {

				.dropdown {
					li a { 
					line-height: 70px;
					}
					li:hover {
					//text-decoration: underline;	
					}

				}
			}
		}
	}
}	

.top-bar-section .has-dropdown > a:after

.toggle-topbar {	
	.toggle-menu { 
		font-size: 1.1rem;
	}
}
.top-bar-section .dropdown li {
	border-bottom: 1px solid;
	border-color: #666;
	margin-bottom: 0px;
}


.top-bar-section ul li > a {
	// border-bottom: 1px solid $primary-color;
}

@media (min-width: 900px) {
	.table-nav {
		display: none;
	}
	.storage-unit {
		margin: 0 auto;
	}
}
@media (max-width: 900px) {
	

	.top-bar .top-bar-section .right .has-dropdown .dropdown li {
		border-bottom: 1px solid $primary-color;
		&:hover {
			background-color: $primary-color;
		}
		a {
			line-height: 40px;
			padding-left: 10px;
			font-size: rem-calc(16);
			font-weight: 600;
			&:hover {
				color: #fff;
			} 
		}
	.storage-unit {
		margin: 0 auto;
	}
}

	.list-nav {
		display: none;

	}
	.table-nav {
		width: 100%;
		border: none;
		padding-bottom: 0px;
		tr{
			//text-align: center;
		}
		td{
			background-color: #fff;
			height: 3.2rem;
			padding: 20px 0px 20px 10px;
			&:hover {
				background-color: $primary-color;
				color: #fff;
				a {
					color: white;
				}
			}
		}
		a {
			font-size: 1rem;
			color: $primary-color;
			text-align: center;
		}
	}
	.top-bar.expanded {
		height: auto;
	}
	.mobile-nav {
		margin-left: 0%;
		margin-right: 25%;
		a {
			padding: 16px;
			line-height: rem-calc(59);
			&:hover {
				background-color: $primary-color;
				padding: 20px;
				color: white;
			}
		}
	}

} // media query ends

.accordion dd > a {
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
	
border-bottom: 1px solid #eee;
}




// this is Toms writing here, please do not edit 





#container {
	//height: 100%;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-position: right 0px top 0px;
}

.container {
	min-height:90vh;
}


.sidenav {
	li:not(:last-child) {
		margin-bottom:10px ;
	}
	li:first-child {
		margin-top: 10px;
	}
	li {
		list-style:none;
		&:hover {
			.item-title{padding-right:2em;}
		}
		.item-title {
			color:#fff;
			background: $primary-color;
			padding: 0 1em;
			position: relative;
			top: 4em;
		}
	}
	li a #item1 {
		//background-image: url(http://placehold.it/210x100);
		background-image: url(../images/menu-general.jpg);
		width: 210px;
		height: 100px;
	}
	li a #item2 {
		//background-image: url(http://placehold.it/210x100);
		background-image: url(../images/menu-medical.jpg);
		width: 210px;
		height: 100px;
	}
	li a #item3 {
		//background-image: url(http://placehold.it/210x100);
		background-image: url(../images/menu-food.jpg);
		width: 210px;
		height: 100px;
	}
	li a #item4 {
		//background-image: url(http://placehold.it/210x100);
		background-image: url(../images/menu-humanitarian.jpg);
		width: 210px;
		height: 100px;
	}
	li a #item5 {
		//background-image: url(http://placehold.it/210x100);
		background-image: url(../images/menu-building.jpg);
		width: 210px;
		height: 100px;
	}
}


.storage-unit {
	margin-top: 4rem;
	&.small-12 {
		margin-top: 0;
	}
}

#main-container {
	margin-top: 10%;
	margin-bottom: 10%;
	//margin-left: 10%;
}

.revealblocks {
	div {
		display: none;
		position: relative;
		background: #fff;
	}
}

.reveal-modal {
	//margin-left: -180px;
	//left:0;
}

.reveal-modal-bg {
	//width:80%;
	//float: right;
	pointer-events:none;
}

.tabs.vertical {
	width: 30%;
	float:right;
}

.tabs .tab-title {
	float: none;
}

.tabs-content.vertical {
	width: 70%;
}

footer p {
	margin-right: 3em;
}