/* all app scss styles here */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
$primary-color: #00468e;

nav {
	border-bottom: 1px solid;
	color: $primary-color;
}

.top-bar {
		.menu-icon {
			a { 
				color: $primary-color;
			}
		}
	.top-bar-section {

		.left {
			li {
				a {
					margin-bottom: -1px;
				}
			}
		}
		.right {
			li {
				a {
					margin-bottom: -1px;
				}
			}
			.has-dropdown {
				.dropdown {
					li a { 
					line-height: 70px;
					}
					li:hover {
					//text-decoration: underline;	
					}

				}
			}
		}
	}
}	



.toggle-topbar {
	.fa {
	font-size: 22px;
	}
	

	li {
		a{
		border-bottom: 1px solid;
		color: #ccc;
		}
	}
}
.top-bar-section .dropdown li:not(.has-form) > a:not(.button) {
	border-bottom: 1px solid;
	//border-left: 1px solid;
	border-color: #666;
}

.container {
	height: 100%;
	background-image: url('../images/background.jpg');
}

.sidenav {
	li:not(:last-child) {
		margin-bottom:10px ;
	}
	li:first-child {
		margin-top: 10px;
	}
	li {
		list-style:none;
	}
	li a #item1 {
		background-image: url(http://placehold.it/210x100);
		width: 210px;
		height: 100px;
	}
	li a #item2 {
		background-image: url(http://placehold.it/210x100);
		width: 210px;
		height: 100px;
	}
	li a #item3 {
		background-image: url(http://placehold.it/210x100);
		width: 210px;
		height: 100px;
	}
	li a #item4 {
		background-image: url(http://placehold.it/210x100);
		width: 210px;
		height: 100px;
	}
	li a #item5 {
		background-image: url(http://placehold.it/210x100);
		width: 210px;
		height: 100px;
	}
}